<div class="container">
  <div class="row">
    <button mat-mini-fab matTooltip="Transfer" color="{{(selectedPath === 'transfer') ? 'warn' : '#fff'}}"
            (click)="redirectTo('transfer')">
      <mat-icon>directions_walk</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Tables" color="{{(selectedPath === 'tables') ? 'warn' : '#fff'}}"
            (click)="redirectTo('tables')">
      <mat-icon>tablet</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Customers" color="{{(selectedPath === 'customers') ? 'warn' : '#fff'}}"
            (click)="redirectTo('customers')">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-mini-fab matTooltip="Items" color="{{(selectedPath === 'items') ? 'warn' : '#fff'}}"
            (click)="redirectTo('items')">
      <mat-icon>view_column</mat-icon>
    </button>
  </div>
</div>
