<div class="dialog-header">
  <h1 color="primary" mat-dialog-title>Customer table history</h1>
  <mat-icon mat-dialog-close matTooltip="close">close</mat-icon>
</div>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Customer name</mat-label>
    <input matInput type="text" [(ngModel)]="notes">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" [disabled]="!notes" (click)="submit()">SUBMIT</button>
  <button mat-button mat-dialog-close>CANCEL</button>
</div>
